<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <br><br>
    <form action="#" method="POST" id="form-el">
    <center><input type="text" name="user" id="user" placeholder="Enter your email"><br><br><br>
    <input type="password" name="password" id="password" placeholder="Enter password"><br><br>
    <input type="submit" id="login" value="Login">
    <br><br><br><br>

    <div id="kept">

    </div>

    </center>
    </form>
    <script src="loged.js"></script>
</body>

</html>