<center><h1>Register</h1>
    <style>
        body {
            background: linear-gradient(to right, white, blue, white);
            padding-top: 30px;
        }
        input {
            width: 200px;
            height: 35px;
            box-shadow: 0px 0px 15px;
            border: none;
            border-radius: 5px;
        }
        ::placeholder {
            font-weight: bold;
        } 
        button {
            background-color: green;
            width: 85px;
            height: 32px;
            border: none;
            border-radius: 3px;
            font-size: 18px;
            box-shadow: 0px 0px 15px;
        }
        button:hover {
            font-weight: bold;
            width: 95px;
            height: 34px;
            box-shadow: 0px 0px 25px;
        }
        a {
            color: black;
            font-weight: bold;
        }
        h1 {
            animation: color-1 5s infinite;
        }
        @keyframes color-1 {
            0% {
                  color: blue;
            }
            50% {
                  color: black;
            }
            100% {
                   color: black;
            }
        }
    </style>
<link rel="stylesheet" type="text/css" href="register.css">
<form action="register" enctype="multipart/form-data" method="POST">
    <div>
        <label for="name"></label>
        <input type="text" id="name" name="name" placeholder="Enter your name" required>
    </div><br>
    <div>
        <label for="email"></label>
        <input type="text" id="email" name="email" placeholder="Enter your email" required>
    </div><br>
    <div>
        <label for="name"></label>
        <input type="password" id="password" name="password" placeholder="Enter the password" required>
    </div><br><br>
    
    <div>
        <input type="file" name="profile_pic" id="pic">
    </div>
    <br>
    <center><button type="submit">Register</button><center>
</form><br>
<a href="/login">Login</a>
</center>